<app-navbar>
  <nav>
    <button class="navbar-button">
      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up">Home</mat-icon> -->
    </button>

    <button class="navbar-button">
      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up">Orders</mat-icon> -->
    </button>

    <button class="navbar-button">
      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up">Search</mat-icon> -->
    </button>

    <button class="navbar-button">
      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up">Profile</mat-icon> -->
    </button>
  </nav>
</app-navbar>
